*,
*::before,
*::after{
    box-sizing:border-box;
}
/* custom proprities */
html{
  scroll-behavior:smooth;
}
:root{
    --ff-primary:"Source Sans Pro", sans-serif;
    --ff-secondary :"Source Code Pro", monospace ;

    --fw-reg : 300;
    --fw-bold : 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent : #16e0bd;

    --fs-h1 : 3rem;
    --fs-h2 : 2.25rem;
    --fs-h3 :1.25rem;
    --fs-body : 1rem;
}
@media (min-width:800px){
:root{
    --fs-h1 : 4.5rem;
    --fs-h2 : 3.75rem;
    --fs-h3 :1.5rem;
    --fs-body : 1.125rem;
}
}
@media(max-width:700px){
img{
  max-width: 350px;
  max-height: 450px;
}
}

/* General Styles*/
body{
    background: black;
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
section{
    padding: 5em 2em;
}
/* Typoghraphy */
h1,
h2,
h3{
    line-height: 1.1;
    margin: 0;
}
h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}
img{
    display: block;
}
.top_bar {
align-items: center;
display: flex;
height: 80 px;
position: sticky;
z-index: 999;
top: 0;
justify-content: center;
font-size: 1.2rem;
}
.header__nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
#navbar_logo{
 display: flex;
 align-items: center;
 cursor: pointer;
 text-decoration: none;
 font-size: 2rem;
}
.nav_menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;

}
.nav_item{
  align-items: center;
  padding: 0 1rem;
  justify-content: center;
  display: flex;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .header__nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .nav_menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
   top: -1000px;
   opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .nav_menu.active {
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
    background-color: black;
  }

  #navbar_logo{
    padding-left: 25px;
  }

  .nav_toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }
  .nav_item{
    width: 100%;
    text-align: center;
    padding: 0.1rem;
    display: table;
    width: 100%;
  }
  #mobile_menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%,20%);
  }
.nav_toggle .bar {
    display: block;
    cursor: pointer;
    background-color:#fff
}
#mobile_menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
#mobile_menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#mobile_menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}  

.intro{
  display:block;
  width: 100%;
}
.intro_img{
   min-width: 250px;
   max-width: 350px;
   z-index: 2;
  
}
.intro_subtitle{
   align-self: start;
   position: relative;
   color: rgb(193, 207, 61);  
}
.timeline {
  display: inline;
  width: 100%;
}

}


@media (min-width:700px){
    .intro{
       display: grid;
       width: min-content;
       margin: 0 auto;
       grid-column-gap: 1em;
       grid-template-areas: 
       "img title"
       "img subtitle";
       grid-template-columns: min-content max-content; 
    }
    .intro_img{
        grid-area: img;
        min-width: 250px;
        max-width: 350px;
        position: relative;
        z-index: 2;
       
    }
    .intro_subtitle{
        align-self: start;
        grid-column: 2;
        grid-row: 2;
        text-align: right;
        position: relative; 
        width: calc(100%+50em);
        color: rgb(193, 207, 61);  
    }
}

@media (min-width:700px){
.studium_element {
    margin: auto;
    width: 60%;
    padding:10px;
    text-align: center;
}
i {
  padding: 10px;
  }
.layout{
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.layout2{
  margin: auto;
  width: 100%;
  padding: 0;
  text-align: center;
  display: flex;
 
}
.skill_card{
  margin-left: 1cm;
  width: 100%;
  padding:10px;
}

.studium_card{
  margin: left;
  margin-left: 4cm;
  width: 70%;
  padding:10px;

}

}
.studium_element{
  text-align: center;
}
.studium_card{
  margin: auto;
  width: 60%;
  padding: 10px;
  border-style:ridge;
}
.skill_card{
  border-style:ridge;
  text-align: center;
  margin-top: 0.5cm;
}
.about_me {
    margin: auto;
    width: 60%;
    padding: 10px;
    }
    .section_title{
        text-align: center;
    }

    .container{
      text-align: center;
      width: 95%;
    }

    /*button animation inspired by https://codepen.io/sektowr/pen/vYKzxKe  */

    @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.know_more {
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}
.know_more:hover {
  background: #d1e0e0;
  color: #050801;  
}
a:nth-child(1) {
  filter: hue-rotate(270deg);
}
a:nth-child(2) {
  filter: hue-rotate(110deg);
}
a span {
  position: absolute;
  display: block;
}
a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.word1 {
  font-family: tahoma;
}

a:hover{
  color: rgba(255, 255, 255, 0.329);
}
a{
  color: white;
  text-decoration: none;
}
.logo{
  position: fixed;
  left: 1cm;
}

.IT_Skills{
  margin: auto;
    width: 60%;
    padding: 10px;
}
.work{
  text-align: center;
  margin-top: 0.5cm;
}

.work_card{
  width: 30%;
  display: inline;
}


/* Timeline Container */
.timeline {
  margin: auto;
  padding: 10px;
  width: 50%;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid #333;

}

/* Card container */
.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  background: #333;
  color: gray;
  border-radius: 8px;
  max-width: 400px;
}
.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
 
}


/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Title of the card */
.title {
  position: relative;
  color: white;
  font-size:large;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid orangered;
}
footer{
  height:auto;
  width:100%;
  padding-top: 100px;
  color: white;
}
.footer-content{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;

}
.footer-content p{
  max-width: 500px;
  margin:10px auto;
  line-height: 25x;
  font-size:14px;
}
.socials {
  list-style:none;
  display: flex;
  padding: 0;

}
.socials li{
  margin:0 8px;
}

.socials a i{
  font-size: 1.2rem;
  transition: color .7s ease;
}
.socials a:hover i{
  color:darkblue;
}
.footer-bottom{
 margin-bottom: 2cm;
  text-align: center;
}
.footer-bottom p{
  font-size:15px;
  word-spacing: 2px;
}
